<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <section class="rooms">
        <div class="rooms-container">
          <form action="./chat.html">
            <label for="username">username</label>
            <input type="text" id="username" name="username" />
            <label for="room">room</label>
            <input type="text" id="room" name="room" />
            <input type="submit" value="Join" />
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
